body{
    margin:15px;
}

.checkout-btn {}

.fix-ui {
    background: red;
    padding: 20px;
}

.fix-ui-child {
    float: left;
    width: 50px;
    height: 50px;
    background: green;
    margin: 10px;
}
